[Unit]
Description=Condis
After=network.target 

[Service]
ExecStart=/usr/bin/condis -platform linuxfb 
Restart=always

[Install]
WantedBy=multi-user.target
